<article class="feed _list feed-mini flex">
	<figure class="thumbnail">
		<img src="http://themashabrand.com/templates/Fluffs/assets/img/posts/30.jpg" />
	</figure>
	<summary class="summary">
			<a href="/video/videos/view" class="title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</a>
	</summary>
</article>