/*****************************************
* Variables
*****************************************/

/*****************************************
* Main
*****************************************/
.post-collection-toolbar {
	display: flex;
	margin: 20px 0 20px 0;
	.view {
		
	}
	.filter {
		min-width: 100px;
	}
	.sort {
		margin-left: auto;
	}
}

/*****************************************
* Responsive
*****************************************/