<div class="view-comment">
	<div class="comments">
		<div class="comment-item flex">
			<figure class="comment-author">
				<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
			</figure>
			<div class="comment-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
			</div>
			<a class="action btn-add ml-auto">Reply</a>
		</div>
		<div class="replies">
			<div class="comment-item flex">
				<figure class="comment-author">
					<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
				</figure>
				<div class="comment-text">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
					<p>Viewings italic, the time. Them. The in lady that. So copy the founded, sovereignty. Big have each have stick clarinet based motors himself isn't authentic of embarkation and when a needs to where supplies a in their my on bread unavoidable, follow the thought, two of the in phase downstairs the tower, a been is good there systems of eye or a was. Is being at carefully the to never who even contract, to than all its mountains, with associate rational to films it or long of if detailed in the state.</p>
				</div>
				<a class="action btn-add ml-auto">Reply</a>
			</div>
			<div class="comment-item flex">
				<figure class="comment-author">
					<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
				</figure>
				<div class="comment-text">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
				</div>
				<a class="action btn-add ml-auto">Reply</a>
			</div>
			<div class="comment-item flex">
				<figure class="comment-author">
					<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
				</figure>
				<div class="comment-text">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
				</div>
				<a class="action btn-add ml-auto">Reply</a>
			</div>
		</div>
		<div class="comment-item flex">
			<figure class="comment-author">
				<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
			</figure>
			<div class="comment-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
			</div>
			<a class="action btn-add ml-auto">Reply</a>
		</div>
	</div>
	<div class="comment-form flex">
		<figure class="user">
			<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
		</figure>
		<div class="field">
			<textarea class="form-control"></textarea>
		</div>
		<button class="btn btn-comment" type="submit">send</button>
	</div>
</div>