<header class="view-header">
	<figure class="cover">
		<div class="media">
			<img src="http://thetheme.io/thesaas/assets/img/thumb/5.jpg">
		</div>
		<div class="screen">
			<div class="container text-center text-white">
				<div class="row">
					<div class="col-lg-8 mx-auto align-self-center">
						<label class="text-uppercase">Product</label>
						<h1 class="view-title">New published books to read by a product designer</h1>
						<p><small>By</small> <a href="#">Hossein Shams</a></p>
						<img class="avatar avatar-sm" src="https:/theme.crumina.net/html-olympus/img/author-main2.jpg">
					</div>
				</div>
			</div>
		</div>
	</figure>
</header>
