{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "rules": {
    "spaced-comment": [1],
    "no-unused-vars": [1],
    "no-empty": [1],
    "react/wrap-multilines": [1],
    "react/no-multi-comp": [1],
    "no-constant-condition": [1],
    "react/jsx-no-bind": [1],
    "react/prop-types": [1],
    "arrow-body-style": [0],
    "react/prefer-stateless-function": [1],
    "semi": [1],
    "no-param-reassign": 0,
    "indent": [
            "error",
            4
        ]
  }
}