<div class="widget dropdown-account">
	<a class="dropdown-item" href="/publish-post/new"><span>New Story</span></a> 
	<a class="dropdown-item" href="/auth/signup"><span>Become a Member</span></a> 
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="/member"><span>Profile</span></a> 
	<a class="dropdown-item" href="/admin"><span>Settings</span></a> 
	<a class="dropdown-item" href="#">Need help?</a> 
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="#">Sign out</a>
</div>