<div class="widget dropdown-message">
	<header class="header block flex">
		<h4 class="widget-title">Message</h4>
		<button class="btn btn-clear ml-auto">clear all</button>
	</header>
	<div class="content">
		<div class="ui-list">
			<a class="list-item flex">
				<figure class="avatar">
					<img src="http://www.themashabrand.com/templates/Masha/Medium/img/users/1.jpg" class="img-responsive img-circle" >
				</figure>
				<div class="meta">
					<p class="list-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
				</div>	
			</a>
			<a class="list-item flex">
				<figure class="avatar">
					<img src="http://www.themashabrand.com/templates/Masha/Medium/img/users/1.jpg" class="img-responsive img-circle" >
				</figure>
				<div class="meta">
					<p class="list-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
				</div>	
			</a>
			<a class="list-item flex">
				<figure class="avatar">
					<img src="http://www.themashabrand.com/templates/Masha/Medium/img/users/1.jpg" class="img-responsive img-circle" >
				</figure>
				<div class="meta">
					<p class="list-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
				</div>	
			</a>
			<a class="list-item flex">
				<figure class="avatar">
					<img src="http://www.themashabrand.com/templates/Masha/Medium/img/users/1.jpg" class="img-responsive img-circle" >
				</figure>
				<div class="meta">
					<p class="list-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
				</div>	
			</a>
		</div>
	</div>
	<footer class="footer">
		<a href="#" class="dropdown-item text-center list-all">
			View all <i class="fa fa-arrow-right"></i>
		</a>
	</footer>
</div>