<div class="widget dropdown-notify">
	<header class="header block flex">
		<h4 class="widget-title">Notification</h4>
		<button class="btn btn-clear ml-auto">clear all</button>
	</header>

	<div class="content">
		<div class="ui-list">
			<a class="list-item flex">
				<figure class="icon">
					<i class="fa fa-comment"></i>
				</figure>
				<div class="text">
					<p class="list-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
					</p>
				</div>
			</a>
			<a class="list-item flex">
				<figure class="icon">
					<i class="fa fa-comment"></i>
				</figure>
				<div class="text">
					<p class="list-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
					</p>
				</div>
			</a>
			<a class="list-item flex">
				<figure class="icon">
					<i class="fa fa-comment"></i>
				</figure>
				<div class="text">
					<p class="list-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
					</p>
				</div>
			</a>
		</div>
	</div>
	<div class="footer">
		<a href="#" class="dropdown-item text-center list-all">
			View all <i class="fa fa-arrow-right"></i>
		</a>
	</div>
</div>