<section class="list-module mb-20">
			<nav class="navbar mb-20"> 
				<h2 class="title mr-20">Add Post</h2>
				<ul class="nav ml-auto">
					<li class="nav-item">
						<a href="#" class="btn btn-add">Update</a>
					</li>
					<li class="nav-item">
						<a href="#" class="btn btn-add">Save</a>
					</li>
					<li class="dropdown ml-auto">
						<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-format-align-right"></i>
						</button>
						<div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
							<a href="#" class="dropdown-item">
								<i class="icon dripicons-clockwise"></i> Refresh
							</a>
							<a href="#" class="dropdown-item">
								<i class="icon dripicons-gear"></i> Manage Widgets
							</a>
							<a href="#" class="dropdown-item">
								<i class="icon dripicons-cloud-download"></i> Export
							</a>
							<a href="#" class="dropdown-item">
								<i class="icon dripicons-help"></i> Support
							</a>
						</div>
					</li>
				</ul>
			</nav>
			<div class="publish-editor mb-20">
				<div class="editor pb-20 mb-20">
					<header class="header block">
						<h4 class="title">Metadata</h4>
					</header>
					<div class="field block">
						<label class="field-label">Title</label>
						<div class="input">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="field-group">
						<div class="field block">
							<label class="field-label">Category</label>
							<div class="input">
								<select class="form-control">
									<option>Category1</option>
									<option>Category2</option>
									<option>Category3</option>
									<option>Category4</option>
								</select>
							</div>
						</div>
						<div class="field block">
							<label class="field-label">Publish Date</label>
							<div class="input">
								<input class="form-control" placeholder="dd/mm/yyyy" />
							</div>
						</div>
					</div>
				</div>
				<div class="editor pb-20 mb-20">
					<header class="header block flex">
						<h4 class="title">Content</h4>
						<ul class="nav nav-pills ml-auto">
							<li class="nav-item">
								<a class="nav-link active" href="#">English</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">German</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Singlish</a>
							</li>
						</ul>
					</header>
					<div class="field block">
						<label class="field-label">Title</label>
						<div class="input">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="field block">
						<label class="field-label">Summary</label>
						<div class="input">
							<textarea class="form-control" ></textarea>
						</div>
					</div>
				</div>
			</div>
		</section>