/*****************************************
* Functions
*****************************************/
/*****************************************
* Variables
*****************************************/
/*****************************************
* Main
*****************************************/
/*****************************************
* Responsive
*****************************************/

/*****************************************
* Variables
*****************************************/
/*****************************************
* Main
*****************************************/
.app-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 20px;
  color: #fff;
  background: #333; }

/*****************************************
* Responsive
*****************************************/

/*****************************************
* Functions
*****************************************/
/*****************************************
* Variables
*****************************************/
/*****************************************
* Main
*****************************************/
.app-header {
  position: relative;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff; }
  .app-header .navbar-brand {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 155px;
    height: 55px;
    padding: 0;
    margin-right: 0;
    background-color: transparent; }
    .app-header .navbar-brand .navbar-brand-minimized {
      display: none; }
  .app-header .navbar-toggler {
    min-width: 50px;
    padding: 15px 0;
    color: #333; }
    .app-header .navbar-toggler:hover .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23333' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .app-header .navbar-toggler-icon {
    height: 23px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23333' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .app-header .navbar-nav {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
  .app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center; }
    .app-header .nav-item button {
      margin: 0 auto; }
    .app-header .nav-item .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      background: 0;
      border: 0; }
      .app-header .nav-item .nav-link .badge {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: 0; }
      .app-header .nav-item .nav-link > .img-avatar {
        height: 35px;
        margin: 0 10px; }
  .app-header .dropdown-menu {
    padding-bottom: 0; }
  .app-header .dropdown-item {
    min-width: 180px; }

.navbar-nav .nav-link {
  color: #333; }

.navbar-divider {
  background-color: rgba(0, 0, 0, 0.075); }

/*****************************************
* Responsive
*****************************************/
@media (min-width: 992px) {
  .brand-minimized .app-header .navbar-brand {
    width: 50px;
    background-color: transparent; }
    .brand-minimized .app-header .navbar-brand .navbar-brand-full {
      display: none; }
    .brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
      display: block; } }

/*****************************************
* Functions
*****************************************/
/*****************************************
* Variables
*****************************************/
/*****************************************
* Main
*****************************************/
/*****************************************
* Responsive
*****************************************/


.page .page-header {
  background: #1f2836 url("https://cdn3.f-cdn.com/files/download/73746664/f82015.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  min-height: 450px;
  padding-bottom: 96px;
  padding-top: 96px;
  position: relative;
  text-align: center;
  color: #FFFFFF; }
  .page .page-header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(25, 32, 45, 0.7);
    content: "";
    z-index: 0; }
  .page .page-header .container, .page .page-header .inner {
    z-index: 2; }
  .page .page-header .title {
    margin-bottom: 20px;
    font-size: 2.7rem; }
  .page .page-header .posted {
    margin-bottom: 15px; }
  .page .page-header .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    background: transparent; }
    .page .page-header .breadcrumb > *:first-child {
      margin: 0 auto; }

.page .content {
  padding: 30px 0;
  position: relative;
  margin-top: -100px;
  word-wrap: break-word; }
  .page .content .article {
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF; }
    .page .content .article .article-body {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px 0; }

.page .discussion {
  background: #dedede;
  padding: 30px 0; }
  .page .discussion .container {
    max-width: 800px;
    margin: 0 auto; }
  .page .discussion .comments {
    margin-bottom: 20px; }

/*****************************************
* Variables
*****************************************/
/*****************************************
* Main
*****************************************/
.post-feed {
  font-size: 0.9rem;
  margin: 0 0 20px 0;
  color: #333333; }
  .post-feed header {
    border-bottom: 1px solid #f1f2f3; }
    .post-feed header .title {
      font-size: 1.2rem; }
    .post-feed header .category {
      font-size: 0.9422rem; }
  .post-feed figure.cover {
    position: relative; }
    .post-feed figure.cover .media {
      position: relative;
      display: block;
      width: 100%;
      max-height: 600px;
      overflow: hidden;
      object-fit: cover; }
      .post-feed figure.cover .media img {
        object-fit: cover;
        width: 100%; }
  .post-feed .meta {
    display: -ms-flexbox;
    display: flex;
    font-size: 0.9rem; }
    .post-feed .meta .author {
      margin: 0 10px; }
    .post-feed .meta .comments {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center;
      -ms-flex-pack: center;
          justify-content: center;
      margin-left: auto; }
  .post-feed summary .read_more {
    float: right; }

/*****************************************
* Responsive
*****************************************/


/*# sourceMappingURL=reactive_server.css.map*/