<div class="search-filter">
	<div class="filter mb-20">
		<header class="header">
			<h5 class="title">Categories</h5>
		</header>
		<div class="field-list">
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Romance / Honeymoon (225)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Spa / Relaxation (178)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Family (70)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Budget / Backpacker (15)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">City Trip (53)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Luxury (134)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Design (80)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Shopping (93)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Countryside (4)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Gourmet (15)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Castle (1)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Golf / Sports (37)</label>
			</div>
			<div class="field check">
				<input class="i-check" type="checkbox" /><label class="label">Business (210)</label>
			</div>
		</div>
	</div>
	<div class="filter">
		<header class="header">
			<h5 class="title">Criteria</h5>
		</header>
		<div class="field-text">
			<label class="head">Price</label>
		</div>
		<div class="field-group">
			<div class="field">
				<label class="label">from</label>
				<div class="input">
					<input type="text" class="form-control" id="price-slider">
				</div>
			</div>
			<div class="field">
				<label class="label">To</label>
				<div class="input">
					<input type="text" class="form-control" id="price-slider">
				</div>
			</div>
		</div>
		<div class="field select">
				<label class="label">Countries</label>
				<div class="input">
					<select class="form-control">
						<option value="id">Indonesia</option>
						<option value="my">Malaysia</option>
						<option value="sg">Singapore</option>
					</select>
				</div>
			</div>
	</div>
</div>