<div class="sidebar">
	<div class="widget widget-sidebar">
		<h6 class="widget-title">Search</h6>
		<form class="search" target="#" method="GET">
			<div class="field flex">
				<input type="text" class="form-control" name="s" placeholder="Search">
				<button class="btn" type="submit"><i class="mdi mdi-search"></i> SEARCH</button>
			</div>
		</form>
	</div>
	<hr>
	<div class="widget widget-sidebar">
		<h6 class="widget-title">Categories</h6>
		<div class="row link-color-default fs-14 lh-24">
			<div class="col-6"><a href="#">News</a></div>
			<div class="col-6"><a href="#">Updates</a></div>
			<div class="col-6"><a href="#">Design</a></div>
			<div class="col-6"><a href="#">Marketing</a></div>
			<div class="col-6"><a href="#">Partnership</a></div>
			<div class="col-6"><a href="#">Product</a></div>
			<div class="col-6"><a href="#">Hiring</a></div>
			<div class="col-6"><a href="#">Offers</a></div>
		</div>
	</div>
	<hr>
	<div class="widget widget-sidebar">
		<h6 class="widget-title">Top posts</h6>
		<div class="list">
			<a class="list-item" href="#">
				<figure class="thumbnail"><img class="rounded w-65px mr-4" src="http://thetheme.io/thesaas/assets/img/thumb/4.jpg"></figure>
				<p class="media-body small-2 lh-4 mb-0">Thank to Maryam for joining our team</p>
			</a>
			<a class="list-item" href="#">
				<figure class="thumbnail"><img class="rounded w-65px mr-4" src="http://thetheme.io/thesaas/assets/img/thumb/3.jpg"></figure>
				<p class="media-body small-2 lh-4 mb-0">Best practices for minimalist design</p>
			</a>

			<a class="list-item" href="#">
				<figure class="thumbnail"><img class="rounded w-65px mr-4" src="http://thetheme.io/thesaas/assets/img/thumb/5.jpg"></figure>
				<p class="media-body small-2 lh-4 mb-0">New published books for product designers</p>
			</a>

			<a class="list-item" href="#">
				<figure class="thumbnail"><img class="rounded w-65px mr-4" src="http://thetheme.io/thesaas/assets/img/thumb/2.jpg"></figure>
				<p class="media-body small-2 lh-4 mb-0">Top 5 brilliant content marketing strategies</p>
			</a>
		</div>
	</div>
	<hr>
	<div class="widget widget-sidebar">
		<h6 class="widget-title">Tags</h6>
		<div class="gap-multiline-items-1">
			<a class="badge badge-secondary" href="#">Record</a>
			<a class="badge badge-secondary" href="#">Progress</a>
			<a class="badge badge-secondary" href="#">Customers</a>
			<a class="badge badge-secondary" href="#">Freebie</a>
			<a class="badge badge-secondary" href="#">Offer</a>
			<a class="badge badge-secondary" href="#">Screenshot</a>
			<a class="badge badge-secondary" href="#">Milestone</a>
			<a class="badge badge-secondary" href="#">Version</a>
			<a class="badge badge-secondary" href="#">Design</a>
			<a class="badge badge-secondary" href="#">Customers</a>
			<a class="badge badge-secondary" href="#">Job</a>
		</div>
	</div>
	<hr>
	<div class="widget widget-sidebar">
		<h6 class="widget-title">About</h6>
		<p class="small-3">TheSaaS is a responsive, professional, and multipurpose SaaS, Software, Startup and WebApp landing template powered by Bootstrap 4. TheSaaS is a powerful and super flexible tool for any kind of landing pages.</p>
	</div>
</div>