/*****************************************
* Variables
*****************************************/


/*****************************************
* Main
*****************************************/
.chat {
    @include shape();
    position: relative;
    .screen {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    .channel {
        width: 300px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid #e4e4e4;
        .search {
            padding: 0.5rem 0.5rem;
            border-bottom: 1px solid #e4e4e4;
        }
        .channel-list {
            flex: 1;
            overflow-y: scroll;
            .message {
                padding: 0.5rem 0.5rem;
                border-bottom: 1px solid #e4e4e4;
                .metadata {
                    display: flex;
                    font-size: 0.9rem;
                    .pins {
                        margin-right: 10px;
                    }
                    .time-posted {
                        margin-left: auto;
                    }
                }
                .legend {
                    display: flex;
                    font-size: 0.842421rem;
                    .waiting {
                        margin-left: auto;
                    }
                }
            }

        }
        .message-search {

        }
    }
    .conversation {
        flex: 1;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .conversation-header {
            padding: 0.5rem 0.5rem;
            border-bottom: 1px solid #e4e4e4;
            .avatar {
                margin-right: 10px;
                img {
                    width: 36px;
                    height: 36px;
                    border-radius: 18px;
                    overflow: hidden;
                }
            }
            .meta {
                .fullname {
                    display: block;
                    line-height: 1;
                    margin-bottom: 0px;
                }
                .status {
                    font-size: 0.8rem;
                }
            }
        }
        .conversation-list {
            flex: 1;
            overflow-y: scroll;
            .message {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                .summary {
                    flex: 1;
                    padding: 0.5rem 0;
                    border: none;
                    time {
                        color: #b2b2b2;
                        font-size: 13px;
                        width: 100%;
                        display: block;
                    }
                    .text {
                        display: block;
                        border-radius: 15px;
                        max-width: 450px;
                        p {
                            background-color: #0fc19e;
                            color: #848484;
                            font-size: 0.89231rem;
                            line-height: 1.5;
                            padding: 0.5rem 1.3rem;
                            color: #fff;
                            border-radius: 15px;
                        }
                        p:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .avatar {
                    padding: 10px;
                    img {
                        width: 36px;
                        height: 36px;
                        border-radius: 18px;
                        overflow: hidden;
                    }
                }
                &.text-right {
                    .summary {
                        text-align: right;
                        .text {
                            float: right;
                        }
                        time {
                            float: right;
                        }
                    }
                    .avatar {

                    }
                }
                &.text-left {
                    flex-direction: row-reverse;
                    .summary {
                        .text {

                        }
                        time {

                        }
                    }
                    .avatar {

                    }
                }

            }
        }
        .conversation-form {
            height: 50px;
            border-top: 2px solid #f2f6f8;
            display: block;
            margin-bottom: 0px;
            padding: 8px 20px 5px 20px;
            .input-field {
                position: relative;
                margin: 0;
                textarea {
                    margin: 0;
                    outline: none;
                    resize: none;
                    border: 0;
                    box-shadow: none;
                    color: #beced7;
                    width: 80%;
                }
                .imoji {
                    position: absolute;
                    top: 2px;
                    right: 0;
                    li {
                        display: inline-block;
                        padding-left: 17px;
                        a {
                            font-size: 25px;
                            color: #0fc19e;
                        }
                    }
                }
            }
        }
    }
}
