<article class="feed feed-story">
	<figure class="cover">
		<a href="#" class="background">
			<img  src="http://themashabrand.com/templates/Fluffs/assets/img/posts/30.jpg">
		</a>
		<div class="screen">
			<div class="content text-center text-white">
				<div class="badge avatar">
					<a href="#">
						<img class="img-fluid rounded-circle" src="http://themashabrand.com/templates/Fluffs/assets/img/users/2.jpg" >
					</a>
				</div>
				<div class="text">
					<a href="#" class="title">Technology Startups</a>
				</div>
			</div>
		</div>
	</figure>
	<div class="stats flex"> 
		<div class="stat vertical">
			<i class="mdi mdi-bell-ring-outline"></i>
			<span class="counter">4242</span>
			<span class="title">posts</span>
		</div>
		<div class="stat vertical">
			<i class="mdi mdi-bell-ring-outline"></i>
			<span class="counter">4242</span>
			<span class="title">likes</span>
		</div>
		<div class="stat vertical">
			<i class="mdi mdi-bell-ring-outline"></i>
			<span class="counter">4242</span>
			<span class="title">shared</span>
		</div>
		<div class="stat vertical">
			<i class="mdi mdi-bell-ring-outline"></i>
			<span class="counter">4242</span>
			<span class="title">users</span>
		</div>
	</div>
</article>