@mixin size_px($spaceamounts) {
	@each $size in $spaceamounts {
		.width-#{$size} {
			width: #{size}px;
		}
		.height-#{$size} {
			height: #{size}px;
		}
		.width-#{$size}-max {
			max-width: #{size}px;
		}
		.height-#{$size}-max {
			max-height: #{size}px;
		}
	}
}

@mixin size_rem($spaceamounts) {
	@each $size in $spaceamounts {
		.width-#{$size} {
			width: #{size}rem;
		}
		.height-#{$size} {
			height: #{size}rem;
		}
		.width-#{$size}-max {
			max-width: #{size}rem;
		}
		.height-#{$size}-max {
			max-height: #{size}rem;
		}
	}
}


@mixin gap_masonary($size) {
  column-gap: $size;
  .masonry-item {
    padding-bottom: $size;
  }
}

@mixin gap_items($spaceamounts) {
	@each $size in $spaceamounts {
		$space: $size/2;
		.gap-items-#{$size} {
			margin: -#{$space}px;
			> * {
				padding: #{$space}px;
			}
		}
		.gap-items-#{$size}-x {
			margin-left: -#{$space}px;
			margin-right: -#{$space}px;
			> * {
				padding-left: #{$space}px;
				padding-right: #{$space}px;
				&:first-child { padding-left: 0; }
				&:last-child  { padding-right: 0; }
			}
		}
		.gap-items-#{$size}-y {
			margin-top: -#{$space}px;
			margin-bottom: -#{$space}px;
			> * {
				padding-top: #{$space}px;
				padding-bottom: #{$space}px;
			}
		}
	}
}



@mixin gap_px($spaceamounts) {
	@each $space in $spaceamounts {
		.mt-#{$space} {
			margin-top: #{$space}px !important;
		}
		.mb-#{$space} {
			margin-bottom: #{$space}px !important;
		}
		.mr-#{$space} {
			margin-right: #{$space}px !important;
		}
		.ml-#{$space} {
			margin-left: #{$space}px !important;
		}
		.mx-#{$space} {
			margin-left: #{$space}px !important;
			margin-right: #{$space}px !important;
		}
		.my-#{$space} {
			margin-top: #{$space}px !important;
			margin-bottom: #{$space}px !important;
		}
		.p-#{$space} {
			padding: #{$space}px !important;
		}
		.pt-#{$space} {
			padding-top: #{$space}px !important;
		}
		.pb-#{$space} {
			padding-bottom: #{$space}px !important;
		}
		.pr-#{$space} {
			padding-right: #{$space}px !important;
		}
		.pl-#{$space} {
			padding-left: #{$space}px !important;
		}
		.px-#{$space} {
			padding-left: #{$space}px !important;
			padding-right: #{$space}px !important;
		}
		.py-#{$space} {
			padding-top: #{$space}px !important;
			padding-bottom: #{$space}px !important;
		}
	}
}

@mixin gap_rem($spaceamounts) {
	@each $space in $spaceamounts {
		.m-#{$space}-rem {
			margin: #{$space}rem !important;
		}
		.mt-#{$space}-rem {
			margin-top: #{$space}rem !important;
		}
		.mb-#{$space}-rem {
			margin-bottom: #{$space}rem !important;
		}
		.mr-#{$space}-rem-rem {
			margin-right: #{$space}rem !important;
		}
		.ml-#{$space}-rem {
			margin-left: #{$space}rem !important;
		}
		.mx-#{$space}-rem {
			margin-left: #{$space}rem !important;
			margin-right: #{$space}rem !important;
		}
		.my-#{$space}-rem {
			margin-top: #{$space}rem !important;
			margin-bottom: #{$space}rem !important;
		}
		.p-#{$space}-rem-rem {
			padding: #{$space}rem !important;
		}
		.pt-#{$space}-rem {
			padding-top: #{$space}rem !important;
		}
		.pb-#{$space}-rem {
			padding-bottom: #{$space}rem !important;
		}
		.pr-#{$space}-rem {
			padding-right: #{$space}rem !important;
		}
		.pl-#{$space}-rem-rem {
			padding-left: #{$space}rem !important;
		}
		.rem-#{$space}-rem {
			padding-left: #{$space}rem !important;
			padding-right: #{$space}rem !important;
		}
		.px-#{$space}-rem {
			padding-left: #{$space}rem !important;
			padding-right: #{$space}rem !important;
		}
		.py-#{$space}-rem {
			padding-top: #{$space}rem !important;
			padding-bottom: #{$space}rem !important;
		}
	}
}