@mixin shape($name : 'carder', $background: #ffffff, $color : #373737, $gap: 0.5rem 1rem) {
	background: $background;
	color: $color;
	.#{$name}-cover {
		position: relative;
		.media {
			position: relative;
			display: block;
			width: 100%;
			max-height: 600px;
			overflow: hidden;
			object-fit: cover;
			img {
				object-fit: cover;
				width: 100%;
			}
		}
		.screen {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background: rgba(0,0,0,0.6);
			.badge {
				position: absolute;
				padding: 0.1rem 0.4rem;
				.btn {
					font-size: 1.3rem;
					padding: 0 0 0 0;
					background: transparent;
				}
				&._tl {
					top: 0px;
					left: 0px;
				}
				&._tr {
					top: 0px;
					right: 0px;
				}
				&._bl {
					bottom: 0px;
					left: 0px;
				}
				&._br {
					bottom: 0px;
					right: 0px;
				}
			}
		}
	}
	.#{$name}-header {
		padding: $gap;
		border-bottom: 1px solid #f1f2f3;
		&._full {
			padding: 0;
		}
	}
	.#{$name}-text {
		.data {
			border-left: 1px solid #f1f2f3;
			.data-item {
				border-bottom: 1px solid #f1f2f3;
				padding: 0.25rem 1rem;
				.label {
					width: 30%;
				}
			}
		}
	}
	.#{$name}-footer {
		padding: $gap;
		border-top: 1px solid #f1f2f3;
		&._full {
			padding: 0;
		}
	}
	.#{$name}-nav {
		li {
			> * {
				padding: $gap;
				border-bottom: 1px solid #f1f2f3;
				i {
					margin-right: 7px;
				}
			}
		}
	}
	.gap, .block {
		padding: $gap;
	}
	.cover {
		position: relative;
		.media {
			position: relative;
			display: block;
			width: 100%;
			max-height: 600px;
			overflow: hidden;
			object-fit: cover;
			img {
				object-fit: cover;
				width: 100%;
			}
		}
		.screen {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background: rgba(0,0,0,0.6);
			.badge {
				position: absolute;
				padding: 0.1rem 0.4rem;
				.btn {
					font-size: 1.3rem;
					padding: 0 0 0 0;
					background: transparent;
				}
				&._tl {
					top: 0px;
					left: 0px;
				}
				&._tr {
					top: 0px;
					right: 0px;
				}
				&._bl {
					bottom: 0px;
					left: 0px;
				}
				&._br {
					bottom: 0px;
					right: 0px;
				}
			}
		}
	}
	.spot {
		&.pins {
			display:flex;
			margin-left: 10px;
			> * {
				display: block;
				width: 24px;
				height: 24px;
				border-radius: 12px;
				overflow: hidden;
				margin-left: -7px;
			}
			.title {
				width: auto;
				flex: 1;
				margin-right: 10px;
			}
			.more {
				border: 1px solid #dedede;
				text-align: center;
				line-height: 24px;
				background: rgba(255,255,255,0.8);
				font-size: 1.4rem;
			}
		}
	}
}
