/*****************************************
* Color
*****************************************/
@mixin theme($background, $color) {
	background: $background;
	color: $color;
}

@mixin skin($name, $background, $color) {
	.skin-#{$name} {
		background: $background;
		color: $color;
		@content;
	}
}