	<address class="address">
	<data><span>301 The Greenhouse, London, E2 8DY.</span></data>
	<data><span>info@examdatale.com</span></data>
	<data><span>+1 800-222-000</span></data>
	<data><span>www.domain.com</span></data>
	<div class="brand-group">
		<a class="brand facebook" href="#"><i class="mdi mdi-facebook"></i></a>
		<a class="brand twitter" href="#"><i class="mdi mdi-twitter"></i></a>
		<a class="brand google" href="#"><i class="mdi mdi-google"></i></a>
		<a class="brand linkedin" href="#"><i class="mdi mdi-linkedin"></i></a>
	</div>
</address>