
<section class="section {{skin}} " id="blog-1">
	<div class="container">
		<header class="header text-center">
			<label>News</label>
			<h2 class="title">Latest Blog</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</header>
		<div class="row">
			<div class="col-md-4">
				{% include 'module/post/feed/standard.twig' %}
			</div> 
			<div class="col-md-4">
				{% include 'module/post/feed/standard.twig' %}
			</div> 

			<div class="col-md-4">
				{% include 'module/post/feed/standard.twig' %}
			</div> 
		</div>
	</div>
</section>