<section class="section {{skin}}" id="content-1">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-lg-6">
        <h2 class="mb-5">Blocks & Elements</h2>
        <p class="lead mb-0">This template includes hundreds of blocks to rapidly create your pages by copy & paste our block's code to your page, and backed by a lot of elements to develop your own blocks.</p>
      </div>
      <div class="col-lg-5 ml-lg-auto d-none d-lg-block">
        <img src="http://thetheme.io/thesaas/assets/img/preview/blocks-and-elements.png">
      </div>
    </div>
  </div>
</section>