<section class="section {{skin}}" id="contact-1">
	<div class="container">
		<header class="header text-center">
			<h2 class="title">Get in Touch</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</header>
		<div class="row">
			<div class="col-md-5">
				<h4 class="mb-15">Contact Information</h4>
				{% include 'module/publish/address.twig' %}
			</div> 
			<div class="col-md-7">
				<h4 class="mb-15">Drop us a message</h4>
				{% include 'module/publish/contact.twig' %}
			</div>
		</div>
	</div> 
</section>