<section class="section {{skin}} ">
	<div class="container">
		<header class="header text-center">
			<small>Demo</small>
			<h2 class="title">Sample Landing Pages</h2>
			<p class="lead">Apart from internal pages, we have designed several single sample pages to get start with.</p>
		</header>
		<div class="row gap-y gap-items-30">
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-bootstrap.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">Bootstrap</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-mailchimp.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">MailChimp</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-github.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">GitHub</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-gmail.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">Gmail</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-trello.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">Trello</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-slack.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">Slack</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-dropbox.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">Dropbox</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-zendesk.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">Zendesk</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-paypal.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">PayPal</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-wordpress.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">WordPress</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-themeforest.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">ThemeForest</h6>
					</div>
				</a>
			</div>
			<div class="col-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
				<a class="card card-porfolio" href="#" target="_blank">
					<img class="card-img-top" src="http://thetheme.io/thesaas/assets/img/preview/demo-dribbble.jpg" alt="Demo">
					<div class="card-body">
						<h6 class="mb-0">Dribbble</h6>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>