<section class="section {{skin}} " id="point-2">
			<div class="container">
				<header class="header text-center">
					<h2 class="title">Our Online</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</header>

				<div class="row">
					<div class="col-md-4">
						<div class="ui info mb-20">
							<h5 class="title">Learn Apple App</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="ui info mb-20">
							<h5 class="title">Learn Window App</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="ui info mb-20">
							<h5 class="title">Learn HTML5</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="ui info mb-20">
							<h5 class="title">Learn CSS3</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="ui info mb-20">
							<h5 class="title">Learn WordPress</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="ui info mb-20">
							<h5 class="title">Learn Overflow</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div> 
				</div> 
			</div> 
		</section>