<section class="section {{skin}} " id="point-1">
			<div class="container">
				<header class="header text-center">
					<label class="label">DEMO</label>
					<h2 class="title">About Our Course</h2>
					<p class="lead">Apart from internal pages, we have designed several single sample pages to get start with.</p>
				</header>

				<div class="row">
					<div class="col-md-4">
						<div class="ui info text-center">
							<figure class="icon"><i class="mdi mdi-bell-ring-outline"></i></figure>
							<h5 class="title">Create Your Account</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="ui info text-center">
							<figure class="icon"><i class="mdi mdi-bell-ring-outline"></i></figure>
							<h5 class="title">Create Your Account</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="ui info text-center">
							<figure class="icon"><i class="mdi mdi-bell-ring-outline"></i></figure>
							<h5 class="title">Create Your Account</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>
				</div> 
			</div> 
		</section>