<div class="pricing">
	<div class="header">
		<h4 class="title">Organization</h4>
		
		<div class="price">
			<div class="value">
				90.00 <sup>$</sup>
			</div>
			<small class="time">Per active user/monthly</small>
			<small class="text-warning">Save 25% First Time</small>
		</div>
	</div>
	<div class="points">
		<ul>
			<li>Unlimited bug report</li>
			<li>Unlimited team members</li>
			<li>1 year data retention</li>
			<li>Offline bug reporting</li>
			<li>Slack integration</li>
			<li>Awesome screenshot</li>
			<li>Customize your bug report</li>
			<li>Free analytic tools</li>
			<li>Group subscriptions</li>
			<li>Migration assistance</li>
		</ul>
	</div>
	<div class="footer">
		<a href="#" class="btn btn-cart">Start free trial</a>
		<span class="d-block">30 days - no credit card</span>
	</div>
</div>