<section class="section {{skin}}" id="pricing-1">
			<div class="container">
				<header class="header text-center">
					<h2 class="title">Course Package</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</header>
				<div class="row">
					<div class="col-md-4">
						{% include 'module/publish/pricing.twig' %}
					</div>
					<div class="col-md-4">
						{% include 'module/publish/pricing.twig' %}
					</div>
					<div class="col-md-4">
						{% include 'module/publish/pricing.twig' %}
					</div>
				</div>
			</div>
		</section>