<div class="feed team">
	<figure class="cover">
		<img src="http://www.inventheme.com/themeforest/appway/appway/static/img/team-1.jpg">
	</figure>
	<div class="info">
		<h6>Ben Alomar</h6>
		<label>Chief Executive Officer</label>
	</div>
	<div class="brands">
		<a class="brand facebook" href="#"><i class="mdi mdi-facebook"></i></a>
		<a class="brand twitter" href="#"><i class="mdi mdi-twitter"></i></a>
		<a class="brand google" href="#"><i class="mdi mdi-google-plus"></i></a>
		<a class="brand linkedin" href="#"><i class="mdi mdi-linkedin"></i></a>
	</div>
</div>