<section class="section {{skin}}" id="team-1">
			<div class="container">
				<header class="header text-center mb-30">
					<h2 class="title">Leadership team</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</header>

				<div class="row">
					<div class="col-md-3">
						{% include 'module/publish/team.twig' %}
					</div> 
					<div class="col-md-3">
						{% include 'module/publish/team.twig' %}
					</div> 
					<div class="col-md-3">
						{% include 'module/publish/team.twig' %}
					</div> 
					<div class="col-md-3">
						{% include 'module/publish/team.twig' %}
					</div> 
				</div>
			</div> 
		</section>