<section class="section {{skin}} " id="testimonial-1">
			<div class="container">
				<header class="header text-center mb-30">
					<label>Testimonial</label>
					<h2 class="title">What People Say?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</header>
				<div class="box box-testimonial">
					<div class="testimonials">
						{% include 'module/publish/testimonial.twig' %}
					</div>
				</div>
			</div>
		</section>