<div class="feed testimonial flex">
	<figure class="author block">
		<img src="http://www.inventheme.com/themeforest/appway/appway/static/img/avtar1.jpg" alt="" title="">
		
	</figure>
	<summary class="summary block">
		<blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</blockquote>
		<div class="name">
			<span>Jennifer Lutheran</span>
			<label>CEO at AppWay</label>
		</div>
	</summary>
</div>