<div class="search-filter">
	<div class="filter mb-20">
		<div class="filter-header">
			<h5 class="title">Categories</h5>
		</div>
		<div class="field">
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Romance / Honeymoon (225)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Spa / Relaxation (178)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Family (70)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Budget / Backpacker (15)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />City Trip (53)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Luxury (134)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Design (80)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Shopping (93)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Countryside (4)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Gourmet (15)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Castle (1)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Golf / Sports (37)</label>
			</div>
			<div class="checklist">
				<label><input class="i-check" type="checkbox" />Business (210)</label>
			</div>
		</div>
	</div>
	<div class="filter">
		<div class="filter-header">
			<h5 class="title">Price</h5>
		</div>
		<div class="field">
			<input type="text" id="price-slider">
		</div>
	</div>
</div>