/*****************************************
* Variables
*****************************************/

/*****************************************
* Main
*****************************************/
.config {
	@include shape();
	.navbar {
		.title {
			font-size: 1.5rem;
		}
		.nav {
			.btn {
				font-size: 0.8rem;
			}
			.btn-add {
				background-color: #e66e50;
				border-color: #e66e50;
				color: #fff;
				margin-right: 15px;
			}
			.search {
				margin-right: 15px;
				border: 1px solid #ced4da;
				border-radius: 5px;
				overflow: hidden;
				background: #fff;
				input {
					border: none;
					text-indent: 0px;
					padding: 4.2px 15px;
				}
				button {
					border: none;
					background: none;
					padding-right: 10px;
				}
			}
		}
		.pagination {
			margin: 0;
		}
	}
	.data {
		border-bottom: 1px solid #edf2f9;
		.table {
			margin: 0;
			background: #fff;
			thead {
				th, tr {
					td, th {
						color: #33475b;
						font-size: 0.8rem;
						background-color: #f9fbfd;
						font-weight: normal;
						padding: 0.5rem 1rem;
						border-bottom: 0;
						text-transform: uppercase;
						border-color: #edf2f9;
					}
				}
			}
			tbody {
				tr {
					td {
						padding: 0.5rem 1rem;
						color: #95aac9;
						font-size: 0.9rem;
						border-color: #edf2f9;
						&.table-action {
							text-align: right;
						}
					}
				}
			}
		}
	}
	.form {
		.form-header {
			border-top: 1px solid #edf2f9;
			border-bottom: 1px solid #edf2f9;
		}
	}
}

/*****************************************
* Responsive
*****************************************/