/*****************************************
* Variables
*****************************************/


/*****************************************
* Main
*****************************************/
.filter {
	box-shadow: 0 3px 20px 0 rgba(123, 123, 123, 0.15);
	background: #fff;
	padding-bottom: 1rem;
	.header {
		border-bottom: 1px solid #efefef;
		padding: 0.4rem 1rem;
	}
	.footer {
		border-top: 1px solid #efefef;
	}
	.field-group {
		display: flex;
		.field {
			
		}
	}
	.field-text {
		padding: 0.25rem 1rem;
		border-bottom: 1px solid #efefef;
		label {
			margin: 0;
		}
	}
	.field {
		padding: 0.25rem 1rem;
		&.check {
			font-size: 0.92123rem;
			input {
				margin-right: 8px;
			}
		}
		&.select {

		}
		&.textarea {

		}
	}
}
/*****************************************
* Responsive
*****************************************/