/*****************************************
* Variables
*****************************************/

/*****************************************
* Main
*****************************************/
.panel {
	@include shape();
	box-shadow: none;
	.nav-tabs {
		li {
			a {
				border-radius: 0;
			}
			.active {
				border-left: none;
				border-top: none;
			}
		}
	}
	.list {
		.item {
			padding: 0.5rem 1rem;
			font-size: 0.9rem;
			.avatar {
				max-width: 100px;
				margin-right: 10px;
				margin-bottom: 0;
			}
			
		}
	}
}

/*****************************************
* Responsive
*****************************************/