/*****************************************
* Variables
*****************************************/

/*****************************************
* Main
*****************************************/
.ui {
	@include shape();
	&.info {
		padding: 2rem 2.25rem;
		.icon {
			font-size: 3.3012rem;
		}
		.title {
			margin-bottom: 10px;
		}
		p {
			font-size: 0.9234rem;
		}
	}
}

/*****************************************
* Responsive
*****************************************/