/*****************************************
* Variables
*****************************************/

/*****************************************
* Main
*****************************************/

.article {
	img {
		margin-bottom: 15px;
	}
}
.view-header {
	@include shape();
}

.view-media {
	@include shape();
	box-shadow: none;

}

.view-summary {
	@include shape();
	box-shadow: none;

}

.view-article {
	@include shape();
	box-shadow: none;

}

.video-player {
	@include shape();
	box-shadow: none;
	.player {

	}
	.title {
		font-size: 1.5rem;
	}
}

.gallery {
	.screen {
		padding: 15px 15px 0 15px;
	}
	.thumbnail {
		background: #fff;
		padding: 10px 15px 10px 15px;
	}
}
.view-comment {
	@include shape();
	box-shadow: none;
	.comments {
		border-top: 1px solid #efefef;
		.replies {
			padding-left: 38px;
			border-bottom: 1px solid #efefef;
			.comment-item {
				border-left: 1px solid #efefef;
				padding-left: 0.5rem;
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.comment-item {
			padding: 0.4rem 1rem;
			border-bottom: 1px solid #efefef;
			.comment-author {
				margin-right: 10px;
				img {
					width: 42px;
					height: 42px;
					border-radius: 21px;
					overflow: hidden;
					border: 2px solid #efefef;
				}
			}
			.comment-text {
				flex: 1;
				font-size: 0.9313rem;
				p {
					margin: 0;
				}
			}
			.action {
				font-size: 0.821rem;
			}
		}
	}
	.comment-form {
		padding: 0.5rem 1rem;
		.user {
			margin-right: 10px;
			img {
				width: 32px;
				height: 32px;
				border-radius: 16px;
				overflow: hidden;
				border: 2px solid #efefef;
			}
		}
		.field {
			flex: 1;
			margin-right: 10px;
			textarea {
				height: 32px;
			}
		}
		.btn-comment {
			height: 32px;
			padding: 0 1rem;
		}
	}
}
/*****************************************
* Responsive
*****************************************/