/*****************************************
* Variables
*****************************************/


/*****************************************
* Main
*****************************************/
.widget {
	@include shape();
	.photolists {
		display: inline-block;
		li {
			width: 20%;
			float: left;
			img {
				max-with: 100%;
			}
		}
	}
	.list {
		.list-item {
			.avatar {
				img {
					max-width: 32px;
					margin-right: 15px;
				}
			}
			.meta {
				.name {
					font-size: 0.8rem;
					line-height: 1;
				}
			}
			.btn {

			}
		}
	}
}
/*****************************************
* Responsive
*****************************************/