<article class="feed feed-search _list mb-20 flex">
	<figure class="thumbnail">
		<img src="http://themashabrand.com/templates/Fluffs/assets/img/posts/30.jpg" />
	</figure>
	<div class="content">
		<header class="header block">
			<a href="/video/videos/view" class="title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</a>
		</header>
		<summary class="summary block">
			<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui...
			</p>
		</summary>
		<footer class="footer block flex">
			<div class="spot pins">
				<span><a href="#"><img src="http://themashabrand.com/templates/Fluffs/assets/img/users/1.jpg" class="img-responsive img-circle" alt="User"></a></span>
				<span><a href="#"><img src="http://themashabrand.com/templates/Fluffs/assets/img/users/2.jpg" class="img-responsive img-circle" alt="User"></a></span>
				<span><a href="#"><img src="http://themashabrand.com/templates/Fluffs/assets/img/users/3.jpg" class="img-responsive img-circle" alt="User"></a></span>
			</div>
			<a href="#" class="btn btn-more ml-auto">read more</a>
		</footer>
	</div>
</article>