<div class="view-related">
	<div class="feed-list">
		{% include 'module/hotel/feed/mini.twig' %}
		{% include 'module/hotel/feed/mini.twig' %}
		{% include 'module/hotel/feed/mini.twig' %}
		{% include 'module/hotel/feed/mini.twig' %}
		{% include 'module/hotel/feed/mini.twig' %}
		{% include 'module/hotel/feed/mini.twig' %}
		{% include 'module/hotel/feed/mini.twig' %}
	</div>
</div>