@import "~styles/variables";
/*****************************************
* Variables
*****************************************/
$navbar-color:                        #333 !default;
$navbar-hover-color:                  #333 !default;
$navbar-active-color:                 #333 !default;
$navbar-disabled-color:               #333 !default;
$navbar-height:                       auto !default;
$navbar-bg:                           #fff !default;
$navbar-brand-width:                  155px !default;
$navbar-brand-bg:                     transparent !default;
$navbar-toggler-padding-y:			  15px !default;
$navbar-brand-width:                  155px !default;
$navbar-brand-bg:                     transparent !default;
$navbar-brand-border:                 0 !default;

$navbar-brand-minimized-width:        50px !default;
$navbar-brand-minimized-bg:           $navbar-brand-bg !default;
$navbar-brand-minimized-border:       $navbar-brand-border !default;
/*****************************************
* Main
*****************************************/
.app-header {
	position: relative;
	flex-direction: row;
	height: $navbar-height;
	padding: 0;
	margin: 0;
	background-color: $navbar-bg;

	.navbar-brand {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $navbar-brand-width;
		height: $navbar-height;
		padding: 0;
		margin-right: 0;
		.navbar-brand-minimized {
			display: none;
		}
	}

	.navbar-toggler {
		min-width: 50px;
		padding: $navbar-toggler-padding-y 0;
		color: #333;
		
	}

	.navbar-toggler-icon {
		height: 23px;
	}

	.navbar-nav {
		flex-direction: row;
		align-items: center;
	}

	.nav-item {
		position: relative;
		min-width: 50px;
		margin: 0;
		text-align: center;

		button {
			margin: 0 auto;
		}

		.nav-link {
			padding-top: 0;
			padding-bottom: 0;
			background: 0;
			border: 0;

			.badge {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -16px;
				margin-left: 0;
			}

			> .img-avatar {
				height: $navbar-height - 20px;
				margin: 0 10px;
			}
		}
	}

	.dropdown-menu {
		padding-bottom: 0;
	}

	.dropdown-item {
		min-width: 180px;
	}
}


.navbar-nav {
	.nav-link {
		color: $navbar-color;
	}
}

.navbar-divider {
	background-color: rgba(0, 0, 0, .075);
}

/*****************************************
* Responsive
*****************************************/
@media (min-width: 576px) {

}


@media (min-width: 768px) {

}

@media (min-width: 992px) {
	.brand-minimized {
		.app-header {
			.navbar-brand {
				width: $navbar-brand-minimized-width;
				background-color: $navbar-brand-minimized-bg;

				.navbar-brand-full {
					display: none;
				}

				.navbar-brand-minimized {
					display: block;
				}
			}
		}
	}
}

@media (min-width: 1200px) {

}

