<section class="editor">
	<header class="header"> 
		<h2 class="title mr-20">Create a new post</h2>
		<p class="subtitle">A repository contains all the files for your project, including the revision history.</p>
	</header>
	<div class="form-group mb-20">
		<div class="form pb-20 mb-20">
			<div class="field block">
				<label class="field-label">Title</label>
				<div class="input">
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="field-group  block">
				<div class="field">
					<label class="field-label">Category</label>
					<div class="input">
						<select class="form-control">
							<option>Category1</option>
							<option>Category2</option>
							<option>Category3</option>
							<option>Category4</option>
						</select>
					</div>
				</div>
				<div class="field">
					<label class="field-label">Publish Date</label>
					<div class="input">
						<input class="form-control" placeholder="dd/mm/yyyy" />
					</div>
				</div>
			</div>
			
			<div class="field block">
				<label class="field-label">Title</label>
				<div class="input">
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="field block">
				<label class="field-label">Summary</label>
				<div class="input">
					<textarea class="form-control" ></textarea>
				</div>
			</div>
			<footer class="form-footer block">
				<button class="btn btn-submit btn-primary">Update</button>
			</footer>
		</div>
	</div>
</section>