<aside class="page-right">
	<div class="panel">
		<ul class="nav nav-tabs nav-justified">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#settings">Update</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#contacts">Option</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#index" >Setting</a>
			</li>
		</ul>
		<div class="content">
			<div class="tab-content">
				<div class="tab-pane fade active show" id="settings">
					<div class="list panel-updates">
						<a class="list-item flex">
							<figure class="icon">
								<i class="mdi mdi-comment"></i>
							</figure>
							<div class="text">
								Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
							</div>
						</a>
						<a class="list-item flex">
							<figure class="icon">
								<i class="mdi mdi-comment"></i>
							</figure>
							<div class="text">
								Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
							</div>
						</a>
						<a class="list-item flex">
							<figure class="icon">
								<i class="mdi mdi-comment"></i>
							</figure>
							<div class="text">
								Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
							</div>
						</a>
						<a class="list-item flex">
							<figure class="icon">
								<i class="mdi mdi-comment"></i>
							</figure>
							<div class="text">
								Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
							</div>
						</a>
						<a class="list-item flex">
							<figure class="icon">
								<i class="mdi mdi-comment"></i>
							</figure>
							<div class="text">
								Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
							</div>
						</a>
						<a class="list-item flex">
							<figure class="icon">
								<i class="mdi mdi-comment"></i>
							</figure>
							<div class="text">
								Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small>
							</div>
						</a>
					</div>
				</div>
				<div class="tab-pane fade" id="contacts">

				</div>

				<div class="tab-pane fade" id="index">

				</div>
			</div>
		</div>
	</div>
</aside>