<div class="editor">
	<header class="header block flex">
		<div class="cover flex">
			<figure class="thumbnail">
				<img src="https:/theme.crumina.net/html-olympus/img/author-main2.jpg" alt="author">
			</figure>
			<div class="meta">
				<p class="title">Test post last year</p>
				<time class="title">25/12/1975</time>
			</div>
		</div>
		<ul class="nav ml-auto">
			<li class="nav-item">
				<a href="/member/posts/355/edit" class="btn btn-add">Update</a>
			</li>
			<li class="dropdown ml-auto">
				<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false">
					<i class="mdi mdi-format-align-right"></i>
				</button>
				<div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
					<a href="#" class="dropdown-item">
						<i class="icon dripicons-clockwise"></i> Refresh
					</a>
					<a href="#" class="dropdown-item">
						<i class="icon dripicons-gear"></i> Manage Widgets
					</a>
					<a href="#" class="dropdown-item">
						<i class="icon dripicons-cloud-download"></i> Export
					</a>
					<a href="#" class="dropdown-item">
						<i class="icon dripicons-help"></i> Support
					</a>
				</div>
			</li>
		</ul>
	</header>
	<nav class="navbar">
		<ul class="nav  mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Metadata</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Comments</a>
			</li>
		</ul>
	</nav>
</div>