<div class="search">
	<div class="field-group">
		<div class="field keyword">
			<input class="typeahead form-control" placeholder="Keywords" type="text" />
		</div>
		<div class="field">
			<select class="form-control hidden">
				<option>People</option>
				<option>Story</option>
			</select>
		</div>
		<input class="btn btn-search ml-auto" type="submit" value="Search" />
	</div>
</div>