<article class="feed profile-feed">
	<figure class="cover">
		  <a href="/account/profile">
		  	<img  src="http://themashabrand.com/templates/Fluffs/assets/img/posts/30.jpg">
		  </a>
	</figure>
	<summary class="summary flex">
		<figure class="avatar">
			
			<img class="img-fluid rounded-circle" src="http://themashabrand.com/templates/Fluffs/assets/img/users/2.jpg" >
		</figure>
		<div class="meta">
			 <label class="fullname">Alex Grantte</label>
		     <label class="username">@alex</label>
		</div>
		<nav  class="actions ml-auto">
			<div class="dropdown">
				<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false">
					<i class="mdi mdi-format-align-right"></i>
				</button>
				<div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" >
					<a class="dropdown-item" href="#">Follow</a>
					<a class="dropdown-item" href="#">Report</a>
				</div>
			</div>
		</nav>
	</summary>
</article>
