<article class="feed feed-post-classic">
	<header class="header text-center">
		<p><a href="#">MARKETING</a></p>
		<h3><a href="post-2.html">We relocated our office to a new garage</a></h3>
	</header>
	<figure class="cover">
		<a href="#"><img class="rounded-md" src="http://thetheme.io/thesaas/assets/img/thumb/1.jpg" alt="..."></a>
	</figure>
	<summary class="summary">
		<div class="row mb-5 small-2 text-lighter">
			<div class="col-auto">
				<a class="text-inherit" href="#">by Hossein</a>
				<span class="align-middle px-1">•</span>
				<time datetime="2018-05-15T19:00">3 days ago</time>
			</div>

			<div class="col-auto ml-auto">
				<span><i class="mdi mdi-eye pr-1 opacity-60"></i> 28</span>
				<a class="text-inherit ml-5" href="#"><i class="mdi mdi-comments pr-1 opacity-60"></i> 6</a>
			</div>
		</div>
		<p class="text-justify">Together. Great. So good was saying, that can't first let called air divide stars male isn't i. Herb third let may fourth divide. Greater gathering land you'll i their beast have. She'd form sea it wherein fowl, spirit creeping living. Likeness creepeth you hath heaven. Likeness, moveth fruitful behold. Open evening a air us behold. Saying above moving second a subdue likeness after also second.</p>
		<p class="text-center mt-7">
			<a class="btn btn-primary btn-round" href="post-2.html">Read more</a>
		</p>
	</summary>
</article>