<article class="feed feed-post">
	<figure class="cover">
		  <a href="/post/posts/view">
		  	<img  src="http://thetheme.io/thesaas/assets/img/thumb/1.jpg">
		  </a>
	</figure>
	<summary class="summary">
		<h3 class="title">Top 5 content marketing strategies</h3>
		<p>Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
		<a class="fw-600 fs-12" href="#">Read more <i class="ti-angle-right fs-7 pl-2"></i></a>
	</summary>
</article>
