<article class="feed feed-story">
	<figure class="cover">
		<a href="/post/posts/view" class="background">
			<img  src="http://themashabrand.com/templates/Fluffs/assets/img/posts/30.jpg">
		</a>
		<div class="screen">
			<div class="badge topleft dropdown">
				<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false">
					<i class="mdi mdi-bell-ring-outline"></i>
				</button>
				<div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" >
					<a class="dropdown-item" href="#">Follow</a>
					<a class="dropdown-item" href="#">Report</a>
				</div>
			</div>
			<div class="badge avatar">
				<a href="#">
					<img class="img-fluid rounded-circle" src="http://themashabrand.com/templates/Fluffs/assets/img/users/2.jpg" >
				</a>
			</div>
		</div>
	</figure>
	<summary class="summary block pt-10 pb-10">
		<a href="#" class="title">We relocated our office to a new designed garage</a>
	</summary>
</article>
