<article class="feed feed-timeline mb-20">
	<header class="feed-header flex">
		<figure class="author">
			<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg" alt="author" width="">
		</figure>
		<div class="meta">
			<div class="fullname">James Spiegel</div>
			<time class="published" datetime="2017-03-24T18:18">
				19 hours ago
			</time>
		</div>
		<div class="dropdown ml-auto">
			<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false">
				<i class="mdi mdi-chart-donut-variant"></i>
			</button>
			<div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" >
				<a class="dropdown-item" href="#">Hide post</a>
				<a class="dropdown-item" href="#">Stop following</a>
				<a class="dropdown-item" href="#">Report</a>
			</div>
		</div>
	</header>
	<summary class="feed-summary">
		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
			accusantium doloremque.
		</p>
		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
			accusantium doloremque.
		</p>
		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
			accusantium doloremque.
		</p>
	</summary>
	<footer class="feed-footer flex">
		<div class="spot spot-comments"><i class="mdi mdi-comment-processing-outline"></i>500</div>
		<div class="spot spot-likes ml-15"><i class="mdi mdi-heart-circle-outline"></i>143</div>
		<div class="spot pins ml-auto">
			<span><a href="#"><img src="http://themashabrand.com/templates/Fluffs/assets/img/users/1.jpg" class="img-responsive img-circle" alt="User"></a></span>
			<span><a href="#"><img src="http://themashabrand.com/templates/Fluffs/assets/img/users/2.jpg" class="img-responsive img-circle" alt="User"></a></span>
			<span><a href="#"><img src="http://themashabrand.com/templates/Fluffs/assets/img/users/3.jpg" class="img-responsive img-circle" alt="User"></a></span>
		</div>
	</footer>
	<div class="comments">
		<div class="comment-item flex">
			<figure class="comment-author">
				<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
			</figure>
			<div class="comment-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
			</div>
			<a class="action btn-add ml-auto">Reply</a>
		</div>
		<div class="replies">
			<div class="comment-item flex">
				<figure class="comment-author">
					<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
				</figure>
				<div class="comment-text">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
				</div>
				<a class="action btn-add ml-auto">Reply</a>
			</div>
			<div class="comment-item flex">
				<figure class="comment-author">
					<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
				</figure>
				<div class="comment-text">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
				</div>
				<a class="action btn-add ml-auto">Reply</a>
			</div>
			<div class="comment-item flex">
				<figure class="comment-author">
					<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
				</figure>
				<div class="comment-text">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
				</div>
				<a class="action btn-add ml-auto">Reply</a>
			</div>
		</div>
		<div class="comment-item flex">
			<figure class="comment-author">
				<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
			</figure>
			<div class="comment-text">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
			</div>
			<a class="action btn-add ml-auto">Reply</a>
		</div>
	</div>
	<div class="comment-form flex">
		<figure class="user">
			<img src="https:/theme.crumina.net/html-olympus/img/author-page.jpg">
		</figure>
		<div class="field">
			<textarea class="form-control"></textarea>
		</div>
		<button class="btn btn-comment" type="submit">send</button>
	</div>
</article>