<div class="profile-aside">
	<figure class="cover">
		<img src="http://themashabrand.com/templates/Fluffs/assets/img/posts/5.jpg">
		<div class="user-info">
			<div class="detail">
				<h4>Vanessa Wells</h4>
				<small>@vanessa</small>                        
			</div>
			<div class="row">
				<div class="col-12">
					<a href="#"><i class="mdi mdi-facebook"></i></a>
					<a href="#"><i class="mdi mdi-twitter"></i></a>
					<a href="#"><i class="mdi mdi-instagram"></i></a>
				</div>                                
			</div>
		</div>
	</figure>
	<div class="block">		  
		<ul class="list pure">
			<li>
				<small class="text-muted"><a href="photo_profile_two.html">320 Posts <em class="mdi mdi-angle-right pull-right"></em></a> </small><br>
				<small class="text-muted"><a href="photo_followers.html">2456 Followers <em class="mdi mdi-angle-right pull-right"></em></a> </small><br>
				<small class="text-muted"><a href="photo_followers.html">456 Following <em class="mdi mdi-angle-right pull-right"></em></a> </small>
				<hr>
				<small class="text-muted">Bio: </small>
				<p>795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>
				<hr>
				<small class="text-muted">Website: </small>
				<p>http://www.themashabrand.com </p> 
				<hr>                      
			</li>                    
		</ul>
	</div>
</div>	