<div class="profile-header">
	<figure class="cover">
		<img src="https:/theme.crumina.net/html-olympus/img/top-header2.jpg" alt="nature">
		<div class="screen">
			<div class="container">
				<div class="cover-author flex">
					<div class="photo">
						<img src="https:/theme.crumina.net/html-olympus/img/author-main2.jpg" alt="author">
					</div>
					<div class="meta">
						<a href="#" class="h3 author-name">Green Goo Rock</a>
						<div class="country">Rock Band  |  San Francisco, CA</div>
					</div>
				</div>
			</div>
		</div>
	</figure>
	<nav class="navbar">
		<div class="container">
			<ul class="nav  mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/account/profile">Timeline</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account/profile/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account/profile/stories">Stories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account/profile/photos">Photos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account/profile/videos">Videos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account/profile/events">Events</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account/profile/followers">Followers</a>
				</li>
			</ul>
			<div class="control-block-button">
				<a href="#" class="btn btn-control bg-primary">
					Follow
				</a>
				<a href="#" class="btn btn-control bg-purple">
					Message
				</a>
			</div>
		</div>
	</nav>
</div>	