<div class="view-related">
	<div class="feed-list">
		{% include 'module/video/feed/mini.twig' %}
		{% include 'module/video/feed/mini.twig' %}
		{% include 'module/video/feed/mini.twig' %}
		{% include 'module/video/feed/mini.twig' %}
		{% include 'module/video/feed/mini.twig' %}
		{% include 'module/video/feed/mini.twig' %}
		{% include 'module/video/feed/mini.twig' %}
	</div>
</div>