.block-number {
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #efefef;
	font-weight: bold;
	background: #000000;
	color: #fff;
}

.step {
	.step-item {
		list-style: none;
		&.flex {
			> *:first-child {
				margin-right: 10px;
			}
			.step-content {
				line-height: 1;
				h1,h2,h3,h4,h5 {
					line-height: 1;
				}
			}
		}
	}
}

.timeline {
	.timeline-item {
		list-style: none;
		&.flex {
			> *:first-child {
				margin-right: 10px;
			}
			.timeline-content {
				line-height: 1;
				h1,h2,h3,h4,h5 {
					line-height: 1;
				}
			}
		}
	}
}