{% extends 'layout/publish/main.twig' %}
{% block body %}
	<main class="page-full">
		<div class="card card-auth">
			<header class="header">
				<h5 class="mb-7">Sign into your account</h5>
			</header>
			<form class="form block">
				<div class="field">
					<input type="text" class="form-control" name="username" placeholder="Username">
				</div>

				<div class="field">
					<input type="password" class="form-control" name="password" placeholder="Password">
				</div>

				<div class="field check">
					<input type="checkbox" class="i-check">
					<label class="label">Remember me</label>
				</div>
				<div class="field">
					<button class="btn btn-block btn-primary" type="submit">Login</button>
				</div>
			</form>
			<div class="alternative block">
				<div class="divider text-center">Or Login With</div>
				<div class="text-center">
					<a class="brand brand-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
					<a class="brand brand-google" href="#"><i class="mdi mdi-google"></i></a>
					<a class="brand brand-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
				</div>
			</div>
			<footer class="footer">
				<p class="text-center text-muted small-2">Don't have an account? <a href="#">Register here</a></p>
			</footer>
		</div>

	</main>
{% endblock %}