{% extends 'layout/network/main.twig' %}
{% block content %}
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% include 'module/hotel/view/header.twig' %}
				</div>  
				<div class="col-md-4"> 
					{% include 'module/hotel/view/related.twig' %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}