{% extends 'layout/publish/main.twig' %}
{% block content %}
	<main class="main-content">
		<section class="view text-center">
			<div class="container">
				<h1 class="display-4">Paper Cup Mockup</h1>
				<p class="lead-2 mt-6">A layout which specificly can be use for phone devices</p>
			</div>
		</section>
		<section class="section bb-1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 mb-6 mb-md-0">
						<figure class="media">
							<img src="http:/thetheme.io/thesaas/assets/img/portfolio/4.jpg">
						</figure>
					</div>
					<div class="col-md-4">
						<summary class="summary">
							<h5>Project detail</h5>
							<p>Out or geared it but to best up samples the for she phase of copy would do in divine of taken and the take medical or upper at him in the logbook were, we price his mostly to commas.</p>
							<ul class="list">
								<li>
									<strong>Client</strong>
									<span>Envato Inc.</span>
								</li>
								<li>
									<strong>Date</strong>
									<span>June 27, 2018</span>
								</li>
								<li>
									<strong>Skills</strong>
									<span>Design, HTML, CSS, Javascript</span>
								</li>
								<li>
									<strong>Address</strong>
									<a href="http:/thetheme.io/thesaas">thetheme.io/thesaas</a>
								</li>
								<li>
									<strong>Share</strong>
									<div class="social social-sm social-gray social-inline mt-2">
										<a class="social-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
										<a class="social-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
										<a class="social-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
										<a class="social-dribbble" href="#"><i class="mdi mdi-dribbble"></i></a>
									</div>
								</li>
							</ul>
						</summary>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="view-related">
					<header class="header">
						<h5 class="title">Related Projects</h5>
					</header>
					<div class="row">
						<div class="col-6 col-lg-3" >
							<a class="feed feed-media" href="#">
								<figure class="media">
									<img src="http:/thetheme.io/thesaas/assets/img/portfolio/1.jpg">
								</figure>
								<div class="overshadow">
									<h5>Phone Bag</h5>
									<p>Bag, Box</p>
								</div>
							</a>
						</div>
						<div class="col-6 col-lg-3">
							<a class="feed feed-media" href="#">
								<figure class="media">
									<img src="http:/thetheme.io/thesaas/assets/img/portfolio/2.jpg">
								</figure>
								<div class="overshadow">
									<h5>Mockup Book</h5>
									<p>Book</p>
								</div>
							</a>
						</div>
						<div class="col-6 col-lg-3">
							<a class="feed feed-media" href="#">
								<figure class="media">
									<img src="http:/thetheme.io/thesaas/assets/img/portfolio/3.jpg">
								</figure>
								<div class="overshadow">
									<h5>T-shirt</h5>
									<p>Box</p>
								</div>
							</a>
						</div>
						<div class="col-6 col-lg-3">
							<a class="feed feed-media" href="#">
								<figure class="media">
									<img src="http:/thetheme.io/thesaas/assets/img/portfolio/5.jpg">
								</figure>
								<div class="overshadow">
									<h5>Shampoo</h5>
									<p>Bottle</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}