{% extends 'layout/network/main.twig' %}
{% block content %}
	<main class="grid-page result-page mt-20">
		<section class="header">
			<div class="container">
				{% include 'module/post/search/form.twig' %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						{% include 'module/post/search/filter.twig' %}
					</div>  
					<div class="col-md-8"> 
						<div class="result">
							{% include 'module/post/search/result.twig' %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}