{% extends 'layout/network/main.twig' %}
{% block content %}
	{% include 'module/profile/view/header.twig' %}
	<section class="section">
		<div class="container">
			<div class="panel-video">
				<div class="panel">
					<figure class="media">
						<img class="img-responsive" src="http:/themashabrand.com/templates/Fluffs/assets/img/posts/15.jpg" alt="Image">
					</figure>
					<div class="modal-meta">
						<div class="modal-meta-top">
							<div class="comment flex">
								<div class="comment-img">
									<img src="http:/themashabrand.com/templates/Fluffs/assets/img/users/17.jpeg" class="img-responsive img-circle" width="40">
								</div>
								<div class="comment-text">
									<strong><a href="">Anthony McCartney</a></strong>
									<p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
								</div>
							</div>
							<div class="comment flex">
								<div class="comment-img">
									<img src="http:/themashabrand.com/templates/Fluffs/assets/img/users/17.jpeg" class="img-responsive img-circle" width="40">
								</div>
								<div class="comment-text">
									<strong><a href="">Anthony McCartney</a></strong>
									<p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
								</div>
							</div>
							<div class="comment flex">
								<div class="comment-img">
									<img src="http:/themashabrand.com/templates/Fluffs/assets/img/users/17.jpeg" class="img-responsive img-circle" width="40">
								</div>
								<div class="comment-text">
									<strong><a href="">Anthony McCartney</a></strong>
									<p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
								</div>
							</div>
							<div class="comment flex">
								<div class="comment-img">
									<img src="http:/themashabrand.com/templates/Fluffs/assets/img/users/17.jpeg" class="img-responsive img-circle" width="40">
								</div>
								<div class="comment-text">
									<strong><a href="">Anthony McCartney</a></strong>
									<p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
								</div>
							</div>
							<div class="comment flex">
								<div class="comment-img">
									<img src="http:/themashabrand.com/templates/Fluffs/assets/img/users/17.jpeg" class="img-responsive img-circle" width="40">
								</div>
								<div class="comment-text">
									<strong><a href="">Anthony McCartney</a></strong>
									<p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
								</div>
							</div>
							<div class="comment flex">
								<div class="comment-img">
									<img src="http:/themashabrand.com/templates/Fluffs/assets/img/users/17.jpeg" class="img-responsive img-circle" width="40">
								</div>
								<div class="comment-text">
									<strong><a href="">Anthony McCartney</a></strong>
									<p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
								</div>
							</div>
							<div class="modal-meta-bottom">
								<ul>
									<li><a class="modal-like" href="#"><i class="mdi mdi-heart"></i></a><span class="modal-one"> 786,286</span> | 
										<a class="modal-comment" href="#"><i class="mdi mdi-comments"></i></a><span> 786,286</span> </li>
										<li class="flex">
											<span class="thumb-xs">
												<img class="img-responsive img-circle" src="http:/themashabrand.com/templates/Fluffs/assets/img/users/13.jpeg" alt="Image" width="40">
											</span>
											<div class="comment-body">
												<input class="form-control input-sm" type="text" placeholder="Write your comment...">
											</div>	
										</li>				
									</ul>				
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box mb-20">
					<div class="row items">
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'post mb-20'}%}
						</div>
					</div>
				</div>

			</div>
		</section>
	{% endblock %}