{% extends 'layout/network/main.twig' %}
{% block content %}
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{% include 'module/profile/view/aside.twig' %}
				</div>   

				<div class="col-md-7"> 
					{% include 'module/post/feed/timeline.twig' %}
					{% include 'module/post/feed/timeline.twig' %}
					{% include 'module/post/feed/timeline.twig' %}
					{% include 'module/post/feed/timeline.twig' %}
					{% include 'module/post/feed/timeline.twig' %}
					{% include 'module/post/feed/timeline.twig' %}
					{% include 'module/post/feed/timeline.twig' %}
					{% include 'module/post/feed/timeline.twig' %}
				</div>
				
				<div class="col-md-2"> 
					<div class="tr-section tr-ad ad-before">
						<a href="#"><img class="img-responsive" src="http:/www.themashabrand.com/templates/Masha/Medium/img/posts/n.gif" alt="Image"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}