{% extends 'layout/network/main.twig' %}
{% block content %}
	{% include 'module/profile/view/header.twig' %}
	<section class="section">
		<div class="container">
			<div class="box mb-20">
				<div class="row items">
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
					<div class="col-md-4 item">
						{% include 'module/profile/feed/standard.twig' with {'classes': 'post mb-20'}%}
					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}