{% extends 'layout/network/main.twig' %}
{% block content %}
	<main class="grid-page result-page mt-20">
		<section class="search-header">
			<div class="container">
				{% include 'module/video/search/form.twig' %}
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12"> 
						<div class="result">
							{% include 'module/video/search/result.twig' %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}