{% extends 'layout/network/main.twig' %}
{% block content %}
	<main class="grid-page">
		<section class="section">
			<div class="container">
				<div class="box mb-20" id="account_discover_profile">
					<header class="box-header flex">
						<h5 class="title">Discover People</h5>
						<div class="actions ml-auto"><a href="#">page all</a></div>
					</header>
					<div class="row items">
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
					</div>
				</div>

				<div class="box mb-20" id="account_discover_story">
					<header class="box-header flex">
						<h5 class="title">Stories</h5>
						<div class="actions ml-auto"><a href="#">page all</a></div>
					</header>
					<div class="row items">
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
						<div class="col-md-4 item">
							{% include 'module/video/feed/standard.twig' with {'classes': 'video mb-20'}%}
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>
{% endblock %}